*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px
}
    /* header rules */
h1{
    font-family: 'Fredoka One', cursive;
    color: #e53170;
    padding-bottom: 35px;
}

header div{
    min-height: 100px;
    width: 60%;
    margin: 15px auto;
    text-align: center;
}

    /* main rules */

main section{
    /* debug */
     min-height: 100px;
    /* background-color: aquamarine;  */

    width: 60%;
    margin: 15px auto;
}

.row{
    /* debug */
    /* background-color: rgb(60, 35, 3);
    min-height: 120px; */
}



/* clearfix */
.raw::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
    width: calc(100% / 3);
    /* debug */
    background-color: blueviolet;
    min-height: 50px;
    border: solid 1px black;
}

div img{
    
}
#male-1{
    
}

.col{
    background-color: #0f0e17;
}
.card-content{
    float: left;
    margin: 10px 0 0 20px;
    line-height: 27px;
    color: white;
}

img{
    height: 100px;
    width: 100px;
    float: left;
}

.name{
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
}
.email{
    color:#6ecbf2 ;
}